.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }

body{
    font-family: "Roboto";
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}

.side-bar{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    background-color:#0284c7;
    color: white;
    grid-column: 1;
    grid-row: 1 / span 4;
}

.side-bar img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(105deg) brightness(102%) contrast(102%);
    margin-top: 10px;
    width: 60px;
    color: white;
}
.side-bar a{
    text-decoration: none;
    color: white;
}
.side-bar .logo-name{
    grid-row: 1 / span 1;
    grid-column: 1/ span 1;
    display: flex;
    font-size: 22px;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    margin-left: 22px;
}
.side-bar .logo-name div{
    margin-top: 10px;
}
.pages{
    grid-row: 2/ span 1;
    grid-column: 1 / span 1;
}
.pages img, .settings img{
    width: 20px;
    margin-right: 20px;
}
.pages li, .settings li{
    list-style: none;
    font-weight: bold;
    
}
.settings{
    grid-row: 3/span 1;
}
.header{
    background-color: white;
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.search-bar{
    display: flex;
    grid-column: 1/span 1;
    grid-row: 1 / span 1;
    align-items: center;
    gap: 10px;
}
.search-bar img{
    width: 20px;
    
}
input[type="search"]{
    height: 20px;
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    background-color: #e5e7eb;
}

.header img{
    width: 30px;
}
#pp{
    width: 40px;
}
#big-p{
    width: 60px;
    justify-self: center;
    align-self: center;
    grid-row: 1 / span 2;
}
#user-name{
    grid-column: 2 / span 1;
    font-size: 14px;
}

.head-profile{
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    display: flex;
    justify-content: end;
    gap: 20px;
    text-align: center;
    margin-right: 30px;
}
.head-profile h4{
    align-self: center;
}

.name-buttons{
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}
.name{
    display: grid;
    grid-template-rows: 30px 50px;
    grid-template-columns: 1fr 7fr;
    
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.buttons button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #0284c7;
    color: white;
    border: 0;
    font-weight: bold;
}
.content{
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    background-color: #e5e7eb;
}